# CMake build directory
build/
cmake-build-*/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Compiled output
*.exe
*.dll
*.so
*.dylib
*.obj
*.o
*.pdb
*.ilk
*.iobj
*.ipdb

# Libraries
*.lib
*.a
*.dylib

# Debug symbol files
*.dsym/

# 屏蔽 VS 所有缓存文件
.vs/
*.ipch
*.suo
*.user
Debug/
x64-Debug/